@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  background-repeat: repeat;
  background-size: 200px;
  margin: 0;
  padding: 0;
}

.game-board {
  height: 100%;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.hacker-area h1 {
  padding: 12px 10px 0 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255,255,255,.6);
  font-style: italic;
  position: absolute;
  top: 0;
}

h1 strong {
  color: white;
  font-style: normal;
}

.hacker-area,
.player-area {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 10px 30px 110px;
  min-height: 235px;
  background-repeat: repeat;
  background-size: 200px;
  height: 50vh;
  box-sizing: border-box;
}

.hacker-area {
  background-position: bottom;
  align-items: flex-end;
}

.player-area {
  background-position: top;
  align-items: top;
}

.player-area .card {
  cursor: pointer;
}

.life-bar {
  background: rgba(255,255,255,.15);
  width: 10px;
  height: 90px;
  position: relative;
}

.life-left {
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  width: 100%;
  height: 50%;
  transition: height .25s ease-out;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 90px;
  padding: 0 5px 0 5px;
  border-radius: 4px;
  background: rgba(0,0,0,.3);
}

.stats .thumbnail {
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 5px 0;
  text-shadow: 5px 5px 0px rgba(0,0,0,.2);
}

.stats .thumbnail.ouch {
  animation: ouch .15s linear 3;
}

.stats .name {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.life-total {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0;
}

@keyframes ouch {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.game-over button {
  display: none;
}

button.next-turn {
  position: fixed;
  bottom: 20px;
  transition: all .15s ease-out;
  background: black;
  display: none;
}

.during-game .next-turn {
  display: block;
}

button.start-game {
  position: absolute;
  background: black;
  display: none;
  top: -20px;
}

.before-game .start-game {
  display: block;
}

button:hover {
  transform: scale(1.03);
}

button:active {
  transform: scale(.97);
}